body {
    margin: 0;
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
    height: 100vh;

    background:
        /* Noise texture */
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100'><filter id='noise'><feTurbulence type='fractalNoise' baseFrequency='0.7' numOctaves='3'/></filter><rect width='100' height='100' filter='url(%23noise)' opacity='0.2'/></svg>"),

        /* Split background */
        linear-gradient(to right,
            #1a1a1a 0%,
            #1a1a1a 40%,
            #f7f9f3 40%,
            #f7f9f3 100%);

    background-size: auto, cover;
    background-repeat: repeat;
}


/* left side image */
/* LEFT BLACK BACKGROUND PANEL */
.left-bg {
    display: flex;
    width: 80%;
    flex: 1;
    position: relative;
    overflow: hidden;
    background: transparent;
    /* makes black region continue during scroll */
    min-height: 100vh;
}

/* IMAGE FITS ONLY INSIDE BLACK PANEL */
.left-bg img {
    width: 80%;
    /* fills width of black area */
    height: auto;
    display: block;
    object-fit: contain;
    background-color: transparent;
    /* fully visible without distortion */
}

/* RIGHT WHITE PANEL */
.right-content {
    flex: 1;
    background: #f7f9f31f;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}