/* LOGIN PAGE BACKGROUND */
.auth-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;

  background:
    linear-gradient(to right,
      #1a1a1a 0%,
      #1a1a1a 40%,
      #f7f9f3 40%,
      #f7f9f3 100%);
}

/* BACKGROUND IMAGE */
.auth-page::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../assets/sports_game2.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 40%;
  opacity: 0.9;
  z-index: 0;
}

/* CARD ABOVE BACKGROUND */
.auth-card {
  position: relative;
  z-index: 1;

  background: #d4d4d4;
  width: 100%;
  max-width: 420px;
  padding: 35px;
  border-radius: 14px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
  animation: fadeUp 0.6s ease;
}


/* TITLE */
.auth-title {
  font-size: 26px;
  font-weight: 800;
  margin-bottom: 8px;
}

/* SUBTITLE */
.auth-sub {
  font-size: 14px;
  margin-bottom: 25px;
  color: #333;
}

/* FORM */
.auth-form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.auth-form input {
  padding: 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 15px;
}

.auth-form input:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

/* BUTTON */
.auth-form button {
  margin-top: 10px;
  padding: 12px;
  border-radius: 10px;
  border: none;
  font-weight: 700;
  cursor: pointer;

  background: #060606;
  color: #fff;
  transition: 0.3s;
}

.auth-form button:hover {
  background: #767575;
  /* color: #000; */
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(10, 48, 216, 0.3);
}

/* FOOTER */
.auth-footer {
  margin-top: 18px;
  font-size: 14px;
}

.auth-footer span {
  font-weight: 700;
  cursor: pointer;
  color: #000;
}

/* ANIMATION */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.auth-link {
  font-weight: 700;
  color: #000;
  text-decoration: none;
}

.auth-link:hover {
  text-decoration: none;
  color: #0a30d8;
  font-weight: 750;
  cursor: pointer;
  
}

.auth-form select.auth-select {
  padding: 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 15px;
  background: #fff;
  cursor: pointer;
}

.auth-form select.auth-select:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
.auth-form select.auth-select option {
  font-size: 15px;
}
.auth-form button:disabled {
  background: #999;
  cursor: not-allowed;
  transform: none;
  box-shadow: none;
}
.auth-form button:disabled:hover {
  background: #999;
  cursor: not-allowed;
  transform: none;
  box-shadow: none;
}

